body {
	background: #fff;
	font-family: verdana, helvetica, arial, sans-serif;
	margin: 0 20px 0 20px;
	color: #333333;
}

#container {
background: url(header.jpg) no-repeat top left;
position: relative;
margin: 0 auto -1px auto;
padding-top: 50px;
width: 680px;
}

#pageHeader {
	text-align: right;
	padding-right: 0px;
	color: #AADA50;
}
#pageHeader h1 {
	width: auto;
	font-size: x-large;
}
#pageHeader h2 {
	width: auto;
	font-size: large;
}

#preamble {
margin: 140px 0 0 220px;
width: auto;
}

#explanation, #participation, #benefits, #requirements {
margin: 25px 0 0 220px;
width: auto;
}

#footer {
margin: 0 0 5px 0;
padding: 10px 0 0 0;
width: 100%;
text-align: center;
}

#linkList {
position: absolute;
width: 150px;
top: 350px;
left: 50px;
}

p {
font-size: 12px;
}

#preamble p.p1, #supportingText p.p1 {
margin-top: 10px;
}

#preamble p, #supportingText p {
line-height: 18px;
}

#quickSummary p.p2 {
font-size: 9px;
color: #999;
}

#footer {
font-size: 9px;
}

#linkList ul {
font-size: 10px;
list-style:none;
margin: 5px 0 0 0;
padding: 0 0 0 0;
}

#linkList ul li {
margin: 0;
padding: 0 0 0 17px;
line-height: 14px;
color: #ccc;
}

#linkList #lselect li {
font-size: 9px;
}

#linkList #lselect a:link, #linkList #lselect a:visited { display: block; }
#linkList #lselect a.c:link, #linkList #lselect a.c:visited { display:inline; }

#larchives li, #lresources li { text-transform: lowercase; }

a, a:link, a:visited {
color: #999;
}

a:hover {
color: #333;
}

#linkList a, #linkList a:link, #linkList a:visited {
color: #666;
text-decoration: none;
}

#linkList a:hover {
text-decoration: underline;
color: #333;
}

#linkList a.c, #linkList a.c:link, #linkList a.c:visited {
color: #999;
text-decoration: none;
}

#linkList a.c:hover {
text-decoration: underline;
color: #333;
}

#linkList #lselect a {
font-size: 10px;
}

#linkList #lselect a.c {
font-size: 9px;
text-transform: lowercase;
}

#footer a, #footer a:link, #footer a:visited {
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}

#footer a:hover {
text-decoration: underline;
}

h3 { margin-bottom: 0px; }

h3 span { }

#supportingText h3 {
width: auto;
height: 15px;
}

#linkList h3 {
width: 150px;
height: 20px;
margin-top: 20px;
}

#preamble h3 {
width: auto;
height: 26px;
}

#explanation h3 {
}

#participation h3 {
}

#benefits h3 {
}

#lselect h3 {
margin-top: 10px;
}

<style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}